.todo-item-input {
    display: flex; 
    justify-content: flex-end; 
} 

.todo-item-input input {
    flex: 1;
    border: none; 
    border-bottom: 1px solid black; 
} 

.todo-item-input button {
    border: none; 
    background: transparent;  
    padding: 5px; 
    padding-bottom: 0; 
    cursor: pointer; 
    font-size: 18px;
}  
